<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css"href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Boissons</title>
</head>
<body>
	<div th:replace="template"></div>
	<div class="container">
	<div class="card">
	 <div class="card-header">
 Liste des	Boissons
 </div>
 <div class="card-body">

 <table class="table table-striped">
	<tr>
	 <th>ID</th><th>Nom Produit</th><th>Prix</th><th>Date Servir</th><th></th><th>Supprimer</th><th>Editer</th>
 <tr th:each="p:${boissons.content}">
 <td th:text="${p.idBoisson}"></td>
 <td th:text="${p.nomBoisson}"></td>
 <td th:text="${p.prixBoisson}"></td>
 <td th:text="${p.dateServir}"></td>

 <td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"  th:href="@{supprimerBoisson(id=${p.idBoisson},page=${currentPage},size=${size})}">Supprimer</a></td>
 <td><a class="btn btn-success"th:href="@{modifierBoisson(id=${p.idBoisson})}">Editer</a></td>
 </tr>
 </table>
 <ul class="nav nav-pills">
  <li th:each="page,status:${pages}">
  <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
  th:href="@{ ListeBoissons(page=${status.index}, size=${size} ) }"
  th:text="${status.index }"></a>
  </li>
  </ul>
 </div>
</div>
</div>
</body>
</html>